<mat-grid-list cols="4"  gutterSize="20px" >

    @for (tile of tiles; track tile) {
      <mat-grid-tile >

        <mat-card style="width: 100%;" class="example-card" appearance="outlined">
            <mat-card-content>

              <div style="text-align: center;" class="div">
                <mat-icon class="dashboard-icons">logout</mat-icon>
                <h3 style="margin: 0px;" >Revenue</h3>
                <h5 style="margin: 0px;" >49/50</h5>
                <!-- <p>Get More Space...</p> -->
              </div>

            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
    }
      
  </mat-grid-list>

