.example-spacer {
    flex: 1 1 auto;
  }

  .active {
    background-color: rgba(0, 0, 0, 0.1);
    border-left: 5px solid #3f51b5;
    margin-left: 5px;
    border-radius: 0px;
    width: 95%;

  }

  .active .mat-icon {
    color: #3f51b5;
  }


  .sidebar .profile_box{
    text-align: center;
  }

  .sidebar .profile_box .mat-icon{
    width: auto;
    height: auto;
    font-size: 30px!important;
    /* padding-top: 14px; */
  }

  .profile_box{
       background-color: #3f51b5;
      color: white;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  .profile_box p{
    font-size: 21px;
    margin-bottom: 0px!important;
  }

  .mat-sidenav .mat-mdc-nav-list a {
    padding-left: 0px;
    padding-right: 0px;
    /* width: 95%; */

    /* background-color: rgba(0, 0, 0, 0.1); */
    /* border-left: 5px solid #3f51b5; */
    margin-left: 5px;
    border-radius: 0px;
    width: 95%;
  
  }

  .menu_open_button{
    padding-top: 7px!important;
    position: absolute;
    right: 7px;
  }

  .menu_open_button mat-icon{
    font-size: 36px!important;
    height: 38px!important;
    width: 40px!important;

  }

  .logo_text{
    padding-left: 30px;
  }






  /* Responsive Menu */



  .mat-sidenav-container  {
    
  }

  .mat-sidenav{
    width: 270px!important;
  }

  .my_menu_collpase .mat-sidenav{
    width: 90px!important;
    visibility: visible!important;
    display: block!important;
    transform: translate3d(-0%, 0, 0);
  }

  .my_menu_collpase .mat-sidenav .mat-mdc-nav-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .my_menu_collpase .mat-sidenav .mat-mdc-nav-list a span {
    display: none!important;
  }

  .my_menu_collpase .mat-sidenav .mat-mdc-nav-list a {
     height: auto;
     width: auto;
     padding: 10px 20px;
     margin: 3px 0px;
  }
  
  .my_menu_collpase .mat-sidenav .mat-icon {
   margin: 0px!important;
 }

 .my_menu_collpase .mat-sidenav-content{
    margin-left: 90px;
  }

  .my_menu_collpase .menu_open_button{
    right: 27px!important;
  }



