<div class="main-container"  >
    <form [formGroup]="this.myForm" (ngSubmit)="onSubmit()" class="wrap-login100">
        <p class="login100-form-title" >Login</p>
        <div>

            <div class="seprator" >
                <label>Email</label>
                <input class="mat-mdc-input-element" formControlName="email" matInput placeholder="Email" />
                @if(this.myForm?.controls?.['email']?.touched){
                    <div class="errors" *ngIf="this.myForm?.controls?.['email']?.errors" >
                        <p class="mat-body-1">  Invalid Email Field</p>              
                    </div>
                    }
            </div>

            <div class="seprator" >
                <label>Password</label>
                <input type="password" class="mat-mdc-input-element" formControlName="password" matInput placeholder="Password" />
                @if(this.myForm?.controls?.['password']?.touched){
                <div class="errors" *ngIf="this.myForm?.controls?.['password']?.errors" >
                    <p class="mat-body1"> Invalid Password Field</p>
                </div>
                }
            </div>
            
            <div class="button-container">
                <button style="cursor: pointer;" [disabled]="!this.myForm.valid" class="login100-form-btn">Login</button>
            </div>
            
            <p style="text-align: center;" > 
                <a routerLink="/register">If You Dont Have Account</a>
            </p>
        </div>
    </form>
</div>



